.discover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 45px;
}

.discover ul {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    height: 45px;
}

.discover li {
    list-style: none;
    margin: auto 2rem;
}

.discover li a{
    color: black;
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 20px);
}

section.container-departures {
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #f0f0f0;
    padding: 50px 10%;
}

section.container-departures form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section.container-departures form .div-date {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0;
}

section.container-departures .div-date > input {
    width: 297px;
    height: 40px;
}

section.container-departures .div-date > input:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

section.container-departures .div-date > input:nth-child(2) {
    border-radius: 0px 15px 15px 0;
}

section.container-departures input {
    width: 600px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 2px;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
    height: 40px;
}

.form-row input {
    width: 300px !important;
}

.form-row button {
    width: 100px;
    height: 48px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

section.container-destinations {
    height: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
    margin: 20px auto;
}

section.container-destinations img {
    max-width: 100%;
    display: block;
}

section.container-destinations > div {
    flex: 1 1 200px;
    padding: 10px;
}

section.container-destinations h3, p {
    padding: 10px 0;
}
